.navbar-light .navbar-toggler-icon {
  color: white;
}

.container-fluid {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-size: 25px !important;
  margin-left: 50px;
  font-weight: 700;
  /* line-height: 150px; */
}
.nav-item {
  cursor: pointer;
}
.btn-outline-success {
  margin-right: 50px;
}
